@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

    

    <div class="container">
        <div class="text-center">
            <h1 class="display-4">Welcome to CREA</h1>
        </div>
        <img src="~/img/LogoBuonoTrasp.png" alt="CREA Logo" height="200">
        <h4 class="display-4">Conflict Resolution with Equitative Algorithms</h4>
        <p>
            This project was co-funded by the Justice Programme under grant agreement No. 766463.<br />
            This Webpage has been produced with the financial support of the Justice Programme of the European Union.
        </p>
        <p>
            The contents of this site are the sole responsibility of the authors and can in no way be taken to reflect the views of the European Commission.
        </p>
    </div>
