@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<h2>Topics:</h2>

    What data do we collect?
    How do we collect your data?
    How will we use your data?
    How do we store your data?
    What are your data protection rights?
    What are cookies?
    How do we use cookies?
    What types of cookies do we use?
    How to manage your cookies
    Changes to our privacy policy
    How to contact us

<h3>What data do we collect?</h3>

We collect the following data:
<ul>
    <li>Personal identification information</li>
    <ul>
        <li>Surname</li>
        <li>Name</li>
        <li>Email address</li>
    </ul>
    <li>Goods information</li>
    <ul>
        <li>Name of the good</li>
        <li>Estimated value</li>
    </ul>
    <li>Agents preferences</li>
</ul>


<h3>How do we collect your data?</h3>
You directly provide us with most of the data we collect. We collect data and process data when you:
<ul>
    <li>Register online</li>
    <li>Create a dispute</li>
    <li>Manage Disputes</li>
    <li>Create a good</li>
    <li>Create an agent</li>
</ul>

<h3>How will we use your data?</h3>    

    We collect your data so that we can provide a solution to your disputes. 

<h3>How do we store your data?</h3>

    We securely store your data at a secure server hosted by Azure. Password are stored  not as plain text.

    We will keep your data until you decide to delete your account. Once this event occurs, we will delete your data.

<h3>What are your data protection rights?</h3>

    We would like to make sure you are fully aware of all of your data protection rights. Every user is entitled to the following:
<ul>
    <li>The right to access – You have the right to request for copies of your personal data.</li>
    <li>The right to rectification – You have the right to request that we correct any information you believe is inaccurate. You also have the right to request us to complete the information you believe is incomplete.</li>
    <li>The right to erasure – You have the right to request that we erase your personal data, under certain conditions.</li>
    <li>The right to restrict processing – You have the right to request that we restrict the processing of your personal data, under certain conditions.</li>
    <li>The right to object to processing – You have the right to object to our processing of your personal data, under certain conditions.</li>
    <li>The right to data portability – You have the right to request that we transfer the data that we have collected to another organization, or directly to you, under certain conditions.</li>
</ul>

If you make a request, we have one month to respond to you. If you would like to exercise any of these rights, please contact us at http://www.crea-project.eu/contact/


<h3>Cookies</h3> 

    Cookies are text files placed on your computer to collect standard Internet log information and visitor behavior information. When you visit our websites, we may collect information from you automatically through cookies or similar technology

    For further information, visit allaboutcookies.org.
<h3>How do we use cookies?</h3>

    Our Company uses cookies in a range of ways to improve your experience on our website, including:

    Keeping you signed in


<h3>What types of cookies do we use?</h3>

    There are a number of different types of cookies, however, our website uses:

    Functionality – we use these cookies so that we recognize you on our website and remember your previously selected preferences. These could include what language you prefer and location you are in. A mix of first-party and third-party cookies are used.

<h3>How to manage cookies</h3>

    You can set your browser not to accept cookies, and the above website tells you how to remove cookies from your browser. However, in a few cases, some of our website features may not function as a result.

<h3>Changes to our privacy policy</h3>

    We keeps our privacy policy under regular review and places any updates on this web page. This privacy policy was last updated on 9 July 2019.

<h3>How to contact us</h3>
If you have any questions about Our privacy policy, the data we hold on you, or you would like to exercise one of your data protection rights, please do not hesitate to contact us at http://www.crea-project.eu/contact/.
